.aboutPage {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left {
    flex-direction: row;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 50vw;
}

.about {
    font-size: 3em;
}

.summary {
    text-align: justify;
    margin-left: 3em;
    width: 40vw;
    font-size: 1.25em;
}

.right {
    flex-direction: row;
    width: 50vw;
}

.cutepic {
    align-self: center;
    max-width: 80%;
    margin-top: 6em;
}