@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

.App {
  text-align: center;
  scroll-snap-align: y mandatory;
  font-family: 'Playfair Display', 'serif';
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

